<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- FOOTER -->

	<footer class="py-3 bg-dark" id="footerC" th:fragment="footer">

		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item"><a href="#"
				class="nav-link px-2 text-light">Home</a></li>
			<li class="nav-item"><a href="#"
				class="nav-link px-2 text-light">Features</a></li>
			<li class="nav-item"><a href="#"
				class="nav-link px-2 text-light">Pricing</a></li>
			<li class="nav-item"><a href="#"
				class="nav-link px-2 text-light">FAQs</a></li>
			<li class="nav-item"><a href="#"
				class="nav-link px-2 text-light">About</a></li>
		</ul>
		<p class="text-center text-light">
			<img src="/imgs/LOGO1.png" alt="alt" width="20" height="24" />
			&copy; 2022 Digital Content, designed by <span class="text-muted">DonBrayaan</span>
		</p>
	</footer>
</body>
</html>